{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: Rs. {{item.total_cost}}</p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold">Total Cost + Rs. 70 = Rs. {{totalamount}}</p>
    <small>Term and Condition: When your order is placed, we'll send you an e-mail message acknowledging receipt of your order. If you choose to pay using an electronic payment method (credit card, debit card or net banking), you will be directed to your bank's website to complete your payment. Your contract to purchase an item will not be complete until we receive your electronic payment and dispatch your item. If you choose to pay using Cash on Delivery (COD), you can pay using cash/card/net banking when you receive your item.</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr> 
    <form action="/paymentdone" id="myform">
    {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}} , {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{forloop.counter}}</label>
        </div>
    {% endfor %}
        <div class="text-end">
          <button type="submit" style="height:40px; width:418px" class="btn btn-info">Cash On Delivery</button><br><br>
          <!-- Set up a container element for the button -->
          <div id="paypal-button-container"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment-gateway %}
<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=ASh_grmYRg02dnWVGiNUjPALv35pRN12GDzvTGdlR8k0Pd9G6dsL_j7Y2Tq_Nlvv08eVgihMfd03qHEQ&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: 50000
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    document.getElementById("myform").submit();
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock payment-gateway %}